*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.navbar {
    background-color: darkcyan;
    padding: 20px;
    width: 100%;
}
.guess{
    display: flex;
    justify-content: center;
    background-color: darkgray;
    padding: 20px;
    width: 100%;
}
.hidden{
    display: none;
}